################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NetCoreEntityFrameWorkWebApp/bin/Debug/netcoreapp2.2
/NetCoreEntityFrameWorkWebApp/obj
